.docs {
    display: grid;
    grid-template-columns: 20% 80%;
}

.docs-content {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 1px 7px #aaaaaa;
    border-radius: 5px;
}
.docs-nav {
    margin: 10px;
    box-shadow: 0 1px 7px #aaaaaa;
    border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 999px)
{
    .docs {
        display: flex; 
        flex-flow: column; 
    }
}
