#page-dashboard
{

}

.page-dashboard-sections
{
    display: grid;
    grid-template-columns: 33% 34% 33%;


}

.page-dashboard-contracts
{

}

.page-dashboard-contracts
{

}

.page-dashboard-customers
{

}

.page-dashboard-section
{


}

.page-dashboard h2, .page-dashboard h1
{
    text-align: center;

}
