#page-dashboard
{

}

.page-dashboard-sections
{
    display: grid;
    grid-template-columns: 33% 34% 33%;


}

.page-dashboard-contracts
{

}

.page-dashboard-contracts
{

}

.page-dashboard-customers
{

}

.page-dashboard-section
{


}

.page-dashboard h2, .page-dashboard h1
{
    text-align: center;

}

@media (min-width: 320px) and (max-width: 999px)
{
    .page-dashboard-sections {
        display: flex;
        flex-flow: column;
    }
}
