.header
{
    display: grid;
    grid-template-columns: 20% 60% 20%;

    box-shadow: 0 5px 15px #e0e0e0;

    justify-content: center;
    justify-items: center;
    align-items: center;
}

.header-logo
{

}

.header-login
{

}

.header-login > {
    margin: 5px;
}

@media (min-width: 320px) and (max-width: 999px)
{
    .header {
        display: flex;
    }
    
}


.header-logo h1 a 
{
    color: black; 
    text-decoration: none;
}


