:root
{
  --dominant: #FFFFFF;
  --secondary: #00152d;
  --highlight: #51ff00
}


body {
  margin: 0;
  font-family: "Roboto", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.edit-component
{
  margin: 20px;
}

.edit-component-sub
{
  margin: 5px;
  margin-top: 15px;
  padding: 10px;
  box-shadow: 0 1px 7px #aaaaaa;

}
